#main-container-stocks {
  border: 1px solid rgb(136,77,61);
  width: fit-content;
}

#all-stocks-table {
  table-layout: fixed;
  width: 900px;
}

td {
  width: 280px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

table tr:nth-child(odd) td{
  background-color: rgb(29,31,47);
}

table tr:nth-child(even) td{
  background-color: rgb(36,37,56);
}

body {
  color: white;
}

table tbody {
  height: 250px;
  overflow-y: scroll;
  display: block;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(29,31,47);
}

::-webkit-scrollbar-thumb {
  background: rgb(64,68,84);
  border-radius: 10px;
}
