#form-stock-menu {
  display: grid;
  /* background-color: rgb(250,166,27); */
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.goGreen {
  background-color: rgb(71,197,132);
}

.goYellow {
  background-color: rgb(241,149,4);
}

.short-menu-input {
  grid-column: span 2;
  display: grid;
  grid: inherit;
  grid-template-columns: subgrid;
  gap: inherit;
}
