table tr:nth-child(odd) td{
  background-color: rgb(29,31,48)
}

table tr:nth-child(even) td{
  background-color: rgb(33,37,55)
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(29,31,47);
}

::-webkit-scrollbar-thumb {
  background: rgb(64,68,84);
  border-radius: 10px;
  height: 2px;
}