#short-menu-section  {
  background-color: rgb(29,31,47);
  color: rgb(80,41,13);
  font-weight: 800;
  width: 50%;
}

/* #form-stock-menu { */
  /* display: grid; */
  /* background-color: rgb(250,166,27); */
  /* grid-template-columns: 1fr 1fr;
  padding: 30px;
} */

.goGreen {
  background-color: rgb(71,197,132);
}

.goYellow {
  background-color: rgb(241,149,4);
}

/* .short-menu-input {
  grid-column: span 2;
  display: grid;
  grid: inherit;
  grid-template-columns: subgrid;
  gap: inherit;
} */

/* #buy-stock-btn {
  background-color: rgb(241,149,4);
} */

/* #sale-stock-btn {
  background-color: rgb(43,51,65);
  color: rgb(188,194,203);
} */

/* #send-order-btn {
  background-color: rgb(250,166,27);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 800;
} */

/* #send-order-btn-div {
  display: flex;
  margin-top: 25px;
  justify-content: center;
} */

.goYellow .short-menu-input {
  background-color: rgb(59,68,83);
  border: none;
  padding: 10px;
  max-width: 120px;
}

.goGreen .short-menu-input {
  background-color: rgb(59,68,83);
  border: none;
  padding: 10px;
  max-width: 120px;
}

/* #short-menu-section { */
  /* background-color: rgb(229,148,17); */
  /* height: 500px; */
  /* color: rgb(80,41,13);
  width: 50%;
  font-weight: 800;
}


#wrapper-container {
  margin: 10px;
} */

/* 
.saleOrPurchaseBtn {
  border: none;
  background-color: rgb(58,69,85);
  color: white;
  font-size: 1em;
  font-weight: 800;
}

#flex-stock-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
/* } */

/* #short-menu-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-label-short-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.short-menu-input {
  background-color: rgb(54,64,80);
  border: none;
  color: white;
  width: 100px;
  font-size: 1em;
  justify-self: flex-end;
} */